.trending-container{
  position:absolute;
  left:940px;
  margin-left:50px;
  margin-top:10px;
}

.twitter-search{
  position:relative;
}

.search-icon{
  height:19px;
  position:absolute;
  top:9px;
  left:8px
}

.search-bar{
  background-color:rgba(234, 232, 232, 0.669);
  padding:12px 200px 12px 35px;
  border:none;
  border-radius:20px;
}

.search-bar::placeholder{
  font-size:15px;
}

.trending-content, .follow-container{
  width:395px;
  background-color:rgba(240, 236, 236, 0.534);
  margin-top:15px;
  border-radius:10px;
}

.trends-with-setting{
  display:flex;
  align-items:center;
  border-bottom:1px solid lightgrey;
  justify-content:space-between;
  padding:10px 10px 10px 10px;
}

.trends, .follows{
  font-size:19px;
  font-weight:bold;
}

.settings-icon{
  height:20px;
}

.trending-worldwide{
  padding:12px 10px 10px 10px;
  border-bottom:1px solid lightgrey;
}

.trending-class{
  font-size:13px;
  color:grey;
}

.news-class{
  font-size:16px;
  font-weight:bold;
  margin-top:5px;
  margin-bottom:5px;
}

.news-content{
  border:1px solid lightgrey;
  border-radius:15px;
  height:82px;
  display:flex;
  margin-bottom:10px;
}

.title-content{
  padding:10px 0px 12px 12px;
  width:250px;
}

.title-class{
  color:grey;
  margin-bottom:4px;
}

.news-img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
  border-radius:0px 15px 15px 0px;
}

.image-container{
  flex:1;
}

.tweet-count{
  color:grey;
  font-size:14px;
  margin-top:5px;
}

.more-content{
  color:rgb(35, 166, 210);
  font-size:15px;
  padding:12px 10px 12px 10px;
  cursor:pointer;
}

.follows{
  padding:10px 10px 10px 10px;
  border-bottom:1px solid lightgrey;
}

.follow-page{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 15px 20px 15px 20px;
  border-bottom:1px solid lightgrey;
}

.follower-img{
  height:45px;
  width:45px;
  border-radius:23px;
  object-fit:cover;
}

.follower-name{
  font-weight:bold;
}

.follower-id{
  color:grey;
  margin-top:4px;
}

.follow-button{
  background-color:white;
  color:rgb(17, 186, 238);
  border:2px solid rgb(17, 186, 238);
  border-radius:20px;
  padding:10px 20px 10px 20px;
  font-weight:bold;
  font-size:14px;
  cursor:pointer;
  transition:background-color 0.15s, color 0.15s;
}

.follow-button:hover{
  background-color:rgb(17, 186, 238);
  color:white;
}